
.shoes{
  border: groove 10px tan ;

}
.nav{
  margin-bottom: 0px;
  background-color: #eb6c10;
   
}
ul{
  list-style-type:none;
  margin:10px;
  padding:0px;
 
}
li{
  display: inline-block;



}
a{
  
  display:block;
 padding:10px;
 font-size:30px;
  background-color: 
#f76902;
  font-family: 'Rajdhani', sans-serif;
text-decoration: none;
    color:teal;
 }

.rack{
  border: groove 10px antiquewhite ;

}


.images{
  margin-top: 0px;
  position: relative;
display: flex;
  justify-content: space-between;
}

body{
  background-image:linear-gradient(45deg,salmon,lightsalmon,blanchedalmond,  antiquewhite,blanchedalmond,lightsalmon,salmon);
  background-repeat:no-repeat;
  background-position: fixed;
  margin:0px;
height:1000px;
}


.f1 {
  position: relative;
}

h1.F{
  font-size: 117px;
  transform:rotate(-40deg);
  margin: -20px;
  align-items: center;
}

h1.A1{

  font-size: 100px;

}
h1.S{
  font-size: 100px;
  transform:rotate(-90deg);
}


h1.H{
  font-size: 100px;

}
h1.I{
  font-size: 100px;


}
h1.O{
  font-size: 100px;

}

h1.N{
  font-size: 100px;
transform:rotate(-45deg);
  
}

h1{
  font-family: 'Oswald', sans-serif;
}


p{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px
}