.neuw{
    background-image:url("OOGLAY\ T_SHIRTS.png");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    max-width: 100%;
    height:auto;
/*     nvhndbhnnmkjx,kl.kgkllkflkx,m nbbbjk,dx,k. */
  }
  
  .body{
    height:800px;
    background-image: linear-gradient(45deg, #f2c8b6 ,#e7a37e,#f0a06a,#e88f5e);
    margin-top: 0px;
  }
  
    
  .shoes{
    border: groove 10px tan ;
    float:right;
  }
  .nav{
    margin-bottom: 0px;
    background-color: #827064;
  }
  ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
   
  }
  li{
    display: inline-block;
  
  
    overflow:hidden;
  }
  a{
    
    display:block;
   padding:10px;
   font-size:30px;
    background-color: 
  #827064;
    font-family: 'Rajdhani', sans-serif;
  text-decoration: none;
      color:#2d2b2a;
   }
  
  .rack{
    border: groove 10px antiquewhite ;
    float:left
  }
  p{
    font-family: 'Abril Fatface', cursive;
    color:##031c1c;
    font-size:30px;
  }
  
  
  .images{
    margin-top: 0px;
  }
  @media screen and (max-device-width: 230px){
    background-image:url("OOGLAY\ T_SHIRTS.png") ;
  }
  
